/* Color pallet: 
Sky Blue Crayola: #52D1DC
Feldgrau: #475B5A
Spanish Gray: #8D8E8E
Silver Chalice: #A3A9AA
Gray X 11 Gray: #BBBBBF */

/* -- ID's -- */
#github{
    max-width: 25%;
    min-width: 150px;
}
#projectList
{
    display: flex;
    flex-flow: row wrap;
}

/* -- Main -- */
h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
hr{
    border-top: 1px solid #475B5A;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #475B5A;
    margin: 0;
}
header{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}
 header img{ 
    max-width: 15vw;
    min-width: 225px;
    border-radius: 50%;
    border: 5px Black solid;
    margin-bottom: 1rem;
    margin-top: 20px;
}
header h1{
    color: white;
    width: 30%;
    min-width: 300px;
    margin: 0px auto 0px;
    padding: 8px 0px 8px;
    background-color: rgba(0, 0, 0, 0.6);
}
main, footer{
    background-color: #A3A9AA;
    width: 60vw;
    margin: 20px auto;
    padding: 20px 50px;
}

section a{
    color: #52D1DC;
    font-size: 2em;
}
section h3{
    font-family: cursive;
}

/* -- Classes -- */
div.project{
    background-color: #8D8E8E;
    flex: 1 1 400px;
    border: 1px solid black;
    text-align: center;
}
.bannar{
    background-image: url(/images/Seattle.JPG);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}